body{
    text-align: center;
    background-color: #f4c9d8;
}
a{
    color: blueviolet;
    font-size: 20px;
}
h1 {
    color: #1761ab;
}
h2{
    color: #5746f9;
}
h3 {
    color: #46e7f9;
}

p{
    font-size: 20px;
}
